body {
  background-color: #1f2937;
  color: white;
  padding: 5px 14px;
  text-align: center;
}

ul {
  list-style: none;
}

a, .hero{
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: normal;
  padding: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}

.link-list {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0px 50px;
}

.area-one {
  display: flex;
  justify-content: space-between;
  flex: 1;
  margin: 30px 0px;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  text-align: left;
  margin: 12px 0px;
}


img {
  max-height: 300px;
  width: auto;
  border-width: 5px;
  border-color: #3e475a;
  border-style: solid;
  border-radius: 15px;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.459);
  flex: 0 1 auto;
}

.hero-text {
  text-align: left;
  margin: 0px 0px 30px;
}

.hero-button {
  height: 50px;
  width: 150px;
  background-color: #2f4566;
  color: #e5e7eb;
  font-weight: 700;
  font-size: 16pt;
  border-radius: 10px;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.459);
}

@media (max-width: 850px) {
  .area-one {
    flex-direction: column-reverse;
    align-items: center;
  }

  .hero,
  h1,
  .hero-text {
    text-align: center;
  }

  .hero {
    align-items: center;
  }
}

.area-two {
  padding: 15px 50px 100px 50px;
  margin: 10px 0px;
  background-color: #f9faf8;
  color: #1f2937;
  border-radius: 5px;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.459);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.img-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
}
.img-content {
  height: 200px;
  width: 200px;
  border-style: solid;
  border-width: 8px;
  border-color: #3e475a;
  border-radius: 10px;
}
.area-three {
  padding: 100px;
  margin: 10px 0px;
  background-color: #abacaf;
  color: #1f2937;
  border-radius: 5px;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.459);
}

.area-four {
  padding: 100px;
  margin: 10px 0px;
  background-color: #f9faf8;
  color: #1f2937;
  border-radius: 5px;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.459);
}