@font-face {
  font-family: Roboto;
  src: url(Roboto/Roboto-Light.ttf);
}

body {
  background-color: #1e193a;
  color: #e5e7eb;
  font-family: Roboto;
  padding: 5px 14px;
  text-align: center;
}

ul {
  list-style: none;
}

a, .hero{
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: normal;
  padding: 12px;
}

.header {
  display: flex;
  justify-content: space-between;
  color: #e5e7eb;
  font-size: 24px;
  font-weight: bold;
}

.header-img {
  height: 64px;
  width: auto;
  border: none;
}

.header-left {
  display: flex;
  gap: 15px;
}

.link-list {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0px 50px;
  /*padding: 0px 50px;*/
}

.area-one {
  display: flex;
  justify-content: center;
  flex: 1;
  column-gap: 70px;
  margin: 30px 0px;
}

.hero {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  text-align: left;
  margin: 12px 0px;
}


.hero-img {
  max-height: 300px;
  width: auto;
  border-width: 5px;
  border-color: #2f283b;
  border-style: solid;
  border-radius: 15px;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.459);
  flex: 0 1 auto;
}

.hero-text {
  text-align: left;
  margin: 0px 0px 30px;
}

.hero-button {
  height: 50px;
  width: 150px;
  background-color: #2f283b;
  color: #e5e7eb;
  font-weight: 700;
  font-size: 16pt;
  border-radius: 10px;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.459);
  flex: 0 0 auto;
}

.area-two {
  padding: 15px 50px 100px 50px;
  margin: 10px 5%;
  background-color: #f9faf8d0;
  color: #2f283b;
  border-radius: 5px;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.459);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.img-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.img-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border: 8px solid #2f283b;
  border-radius: 8px;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.459);
}
.area-three {
  padding: 100px;
  margin: 10px 5%;
  background-color: #8d8d8d;
  color: #1e193a;
  border-radius: 5px;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.459);
  font-size: 36px;
  font-style: italic;
  font-weight: 100;
}

.person {
  font-style: normal;
  font-weight: 700;
  text-align: right;
}

.area-four {
  padding: 100px;
  margin: 10px 5%;
  background-color: #f9faf8d0;
  color: #1f2937;
  border-radius: 5px;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.459);
}

.action-holder {
  background-color: #1e193a;
  color: #f9faf8;
  text-align: left;
  border-radius: 10px;
  padding: 20px 60px;
  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.459);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.icons8 {
  font-size: 16px;
  text-decoration: underline;
}

@media (max-width: 900px) {
  .area-one {
    flex-direction: column-reverse;
    align-items: center;
  }

  .action-holder {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero,
  h1,
  .hero-text {
    text-align: center;
  }

  .hero {
    align-items: center;
  }
}